<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <h1>Categories</h1>
    <br>
    <table >
        <tr th:each="category : ${category}" >
            
            <td th:text="${category.name}" ></td>
        </tr>
    </table>
    <br>
    <a class="btn btn-danger" th:href="addcategory">Create Category</a>
    
</body>
</html>